section {
  height: 100vh;
}
.multistep-form {
  max-width: 34rem;
  min-height: 34rem;
  padding: 1.5rem;
  border: 2px solid #eee;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.multistep-form .step {
  display: none;
}
.multistep-form .step.active {
  display: block;
}
.multistep-form .step .step-header {
  text-align: center;
  margin: 1rem 0;
}
.multistep-form .step-footer {
  display: flex;
  justify-content: end;
}

/*-------------Form Buttons-------------*/
.multistep-form .next-btn,
.multistep-form .back-btn,
.multistep-form .submit-btn {
  padding: 1rem 1.5rem;
  color: #fff;
  background-color: darkgray;
}
.multistep-form .back-btn,
.multistep-form .submit-btn {
  display: none;
}
/*-------------Progress Bar-------------*/
.multistep-form .progress-bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 1.5rem;
}
.multistep-form .progress-bar li.active {
  color: #be0808;
}
