section {
  height: 100vh;
}
.multistep-form {
  min-width: 34rem;
  min-height: 34rem;
  padding: 1.5rem;
  border: 2px solid #eee;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.multistep-form .progress-bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 1.5rem;
}
.multistep-form .step {
  display: none;
}

.multistep-form .step.active {
  display: block;
}
