.inner h1 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.8rem 0;
}
.column {
  min-width: 30rem;
  text-align: center;
}
.column i {
  font-size: 4.5rem;
}
.column p {
  font-size: 1.6rem;
  margin: 1.3rem 0;
}

@media (min-width: 768px) {
  .row {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .row {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .row {
    flex-direction: row;
  }
}
